.header-navBar {
  height: 100px;
  background-color: #121619;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.header-navBar img {
  width: 70px;
}
.header-navBar .leftSide {
  display: flex;
  align-items: center;
  padding-left: 150px;
}
.header-navBar .rightSide {
  display: flex;
  align-items: center;
  padding-right: 150px;
}
.header-navBar .rightSide a {
  padding-right: 20px;
  text-decoration: none;
  color: white;
}
.header-navBar .rightSide button {
  background-color: orange;
  border-radius: 10px;
}
