.menuItem {
  border: 1px solid gray;
  border-radius: 10px;
  display: inline-block;
  text-align: center;
  margin: 0px 70px 30px 70px;
  box-shadow: 3px 2px 10px ;
  width: 199px;
}
.menuItem img {
  width: 200px;
  height: 175px;
  border-radius: 10px 10px 0px 0px;
}
